<!DOCTYPE html>
<html>
  <head>
    <title>Roofbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.photowall = "<%= image_url('paris.jpg') %>";
      
     
      window.search = "<%= image_url('search.png') %>";
      window.star = "<%= image_url('redstar2.png') %>";
      window.banner = "<%= image_url('front_banner.png') %>";
      window.plus = "<%= image_url('more.png') %>";
      window.minus = "<%= image_url('minus.png') %>";
      window.down = "<%= image_url('down_arrow.png') %>";
      window.travel = "<%= image_url('travel.png') %>";
    </script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Overpass|Quicksand|Roboto|Sarabun|Dancing+Script|Asap|Lato|Montserrat|Great+Vibes|Pacifico|Sacramento&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
