<!DOCTYPE html>
<html>
  <head>
    <title>Roofbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta property="og:image" content="<%=image_url('screenshot.png')%>" />
    <script type="text/javascript">
      
      window.photowall = "<%= image_url('spots/photowall.jpg') %>";
      window.amazon1 = "<%= image_url('spots/amazon_1.jpeg') %>";
      window.amazon2 = "<%= image_url('spots/amazon_2.jpeg') %>";
      window.amazon3 = "<%= image_url('spots/amazon_3.jpeg') %>";
      window.amazon4 = "<%= image_url('spots/amazon_4.jpeg') %>";
      window.eiffel1 = "<%= image_url('spots/eiffel_1.jpeg') %>";
      window.eiffel2 = "<%= image_url('spots/eiffel_2.jpg') %>";
      window.eiffel3 = "<%= image_url('spots/eiffel_3.png') %>";
      window.eiffel4 = "<%= image_url('spots/eiffel_4.jpeg') %>";
      window.google1 = "<%= image_url('spots/google_1.jpeg') %>";
      window.google2 = "<%= image_url('spots/google_2.jpeg') %>";
      window.google3 = "<%= image_url('spots/google_3.jpeg') %>";
      window.google4 = "<%= image_url('spots/google_4.jpeg') %>";
      window.met1 = "<%= image_url('spots/met_1.jpeg') %>";
      window.met2 = "<%= image_url('spots/met_2.jpeg') %>";
      window.met3 = "<%= image_url('spots/met_3.jpeg') %>";
      window.met4 = "<%= image_url('spots/met_4.jpeg') %>";
      window.timesquare1 = "<%= image_url('spots/timesquare_1.jpeg') %>";
      window.timesquare2 = "<%= image_url('spots/timesquare_2.jpeg') %>";
      window.timesquare3 = "<%= image_url('spots/timesquare_3.jpeg') %>";
      window.timesquare4 = "<%= image_url('spots/timesquare_4.jpeg') %>";

      // icons
      window.logo = "<%= image_url('icons/logo.png') %>";
      window.search = "<%= image_url('icons/search.png') %>";
      window.star = "<%= image_url('icons/redstar.png') %>";
      window.plus = "<%= image_url('icons/more.png') %>";
      window.minus = "<%= image_url('icons/minus.png') %>";
      window.down = "<%= image_url('icons/down_arrow.png') %>";
      window.travel = "<%= image_url('travel.png') %>";
      window.banner = "<%= image_url('front_banner.png') %>";
    </script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Overpass|Quicksand|Roboto|Sarabun|Dancing+Script|Asap|Lato|Montserrat|Great+Vibes|Pacifico|Sacramento&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
